@import "../mixins";

.features {
  @include setup-section(460px, #f4f7f9);

  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
  }

  @media screen and (min-width: 768px) {
    &__content {
      padding: 0;
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  @media screen and (min-width: 1170px) {
    &__content {
      align-items: flex-start;
      margin: auto;
      width: 1170px;
    }
  }
}
